<div class="card">
  <div class="card-header">
    <h5><%= company.name %></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">住所</h5>
    <p class="card-text"><%= company.address1 %> <%= company.address2 %></p>
    <h5 class="card-title">ホームページ</h5>
    <p class="card-text"><%= company.homepage %></p>
  </div>
</div>
