<div class="d-flex align-items-center">
  <h1>会社編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', companies_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: {company: @company} %>
